html {
    font-family: "Open Sans",  serif;
}

body {
    background: darkslateblue;
}

h1 {
    color: black;
    text-align: center;
}

#one {
    text-align: left;
    color: red;
}

#two {
    text-align: center;
    color: green;
}

.three {
    text-align: right;
    color: blue;
}

iframe {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
}
